
header{
	position:relative;
	z-index: 1000;

	&.sticky{
		.menuContainer{
			position:fixed;
			top: -200px;

			.callContainer{
				display: block;
			}

		}
	}

	.logoContainer{
		padding-bottom:20px;
		#logo{
			margin-top: 20px;
			display: block;
		}
		.container{
			.row{
				padding: 0px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.reviewSection{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-end;
				}

			}
		}
	}

	.menuContainer{
		background:#ffffff;
		width: 100%;

		.menuSection{
			background: #E8E9EC;
		}

		.callContainer{
			display: none;
			.col{
				padding:10px 0;
			}
		}

		.row{
			padding: 0px;

			#mainNav{
				width: 100%;	
				#menu-main-menu-1{
					list-style: none;
					padding-left:0px;
					display: flex;
					margin-bottom: 0px;
					justify-content: flex-end;

					> li{
						position: relative;
						&.current-menu-item{
							a{
								color: #AA1E23;
							}
						}
						> a{
							font-size: 2rem;
							color: $darkGrey;
							text-transform: uppercase;
							padding: 20px;
							display: block;


							&:hover{
								text-decoration: none;
								color: #AA1E23;
							}

						}

						&.redBtn{
							a{
								background:$red;
								color: #ffffff;
								transition: background-color 200ms linear;
								&:hover{
									background: $blue;

								}
							}
						}


						> .sub-menu{
							display: none;
							position: absolute;
						    top: 70px;
						    left: 0px;
						    width: 300px;
						    background: #D0D2D3;
						    padding:0;

						    > li{
						    	list-style: none;
						    	a{
						    		display: block;
						    		color: #404041;
						    		padding:10px 20px;
						    		font-size: 2rem;
						    		text-transform: uppercase;
						    		&:hover{
						    			background:#DBDCDD;
						    			color: #AA1E23;
						    			text-decoration: none;
						    		}
						    	}
						    	&.current-menu-item{
									a{
										color: #AA1E23;
									}
								}
						    }
						}
						&:hover{
							> .sub-menu{
								display: block;
							}
						}

					}
				}
			}
		}
	}
}

#mobileNavButtons{
	a{
		color: #414042;
		font-size: 2rem;
	    padding: 20px
	}
}

#mobileNav{
	position: fixed;
    z-index: 10000;
    background: #E8E9EC;
    height: 100%;
    width: 300px;
    padding: 20px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    top: 0px;
    left: -2000px;
    transition: .5s;
    &.open{
    	left: 0px;
    }

    .mobileMenuToggle{
    	background:$red;
    	margin-bottom: 10px;
    	display: block;
    }

    #menu-main-menu{
		list-style: none;
		padding-left:0px;
		display: flex;
		flex-direction: column;
		margin-bottom: 0px;
		justify-content: flex-end;


		 li{
			position: relative;
			&.current-menu-item{
				a{
					color: #AA1E23;
				}
			}
			> a{
				font-size: 2rem;
				color: $darkGrey;
				text-transform: uppercase;
				padding: 5px 10px;
				display: block;


				&:hover{
					text-decoration: none;
					color: #AA1E23;
				}

			}

			&.redBtn{
				a{
					background:$red;
					color: #ffffff;
				}
			}


			> .sub-menu{
				list-style: none;
				padding-left:10px;
			}
			&:hover{
				> .sub-menu{
					display: block;
				}
			}

		}
	}
}


.mast{
	&.home-mast{
		position:relative;
		padding-bottom:50px; 
		.mast_title{
			padding:225px 0;
			width: 550px;

			h1{
				font-size: 4.7rem;
				font-family: $headingFont;
				font-weight: 900;
			}

			*{
				color: #ffffff;
			}
		}

		.redBg{
			.container{
				.row{
					position:relative;

					padding:30px 0;
					.col{
						padding-left:60px;
						padding-right:60px;
					}
					p{
					    font-size: 2.3rem;
					    font-weight: 100;
					    line-height: 3rem;
					}
					&:after{
					    content: "";
					    width: 1px;
					    color: #ffffff;
					    background: #ffffff;
					    position: absolute;
					    left: 50%;
					    height: 80%;
					    top: 10%;
					}
				}
			}
		}

	}

	&.innerPage{
		background-position:right;
		background-repeat:no-repeat;
		background-size: 49% auto;
	    height: 325px;

	    .container-fluid {
	    	height: 100%;
	    	.container{
	    		height: 100%;
	    		.row{
	    			height: 100%;
	    		}
	    	}
	    }

		.row{
			padding:0px;
		}
		background-color:$red;

		*{
			color: #ffffff;
		}

		.mast_content{
			padding-top: 10px;
		    padding-bottom: 10px;
		    display: flex;
		    flex-direction: column;
		    align-self: center;
		}
		.mast_content{
			p{
				font-size: 2.5rem;
			}
		}
	}
}